/*--Universal Styles--*/

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: black;
  }
  
  h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    line-height: 1.25;
  }
  
  h1 {
    font-size: 2rem;
    margin: 2rem auto;
  }
  
  h2 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    color: blue;
  }
  
  h3 {
    font-size: 1.25rem;
  }
  
  h4 {
    font-weight: 600;
  }
  
  h5 {
    font-weight: 300;
    font-size: .75rem;
  }
  
  p {
    font-weight: 300;
    line-height: 1.25;
  }
  
  
  /*--Header--*/
  
  header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 64px;
    background-color: #ffffff;
    opacity: .95;
    border-bottom: solid 1px #d8d8d8;
    position: fixed;
    z-index: 30;
    width: 100%;
  }
  
  #company-name {
    color: #000000;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    font-weight: 300;
  }
  
  #logo {
    display: flex;
    align-items: center;
  }
  
  #logo span {
    font-weight: 700;
  }
  
  #logo img {
    margin-left: 24px;
  }
  
  
  /*--Navigation--*/
  
  nav {
    display: flex;
    align-items: center;
    margin-right: 24px;
  }
  
  nav ul {
    display: flex;
    align-content: center;
  }
  
  nav li {
    margin-right: 16px;
    height: 100%;
    text-transform: uppercase;
  }
  
  nav a:hover {
    opacity: .8;
    text-decoration: line-through;
  }
  
  a {
    color: #blue;
    text-decoration: none;
  }
  
  
  /*--Navigation Breakpoints--*/
  
  @media only screen and (max-width:770px) {
    nav h5 {
      display: none;
    }
    nav li:nth-child(3n) {
      display: none;
    }
  }
  
  @media only screen and (min-width: 770px) {
    nav img {
      display: none;
    }
  }
  
  @media only screen and (max-width: 460px) {
    #company-name {
      display: none;
    }
    nav li {
      margin: 0 1.2rem;
    }
    nav {
      width: 60%
    }
  }
  
  
  /*--Main--*/
  
  main {
    position: relative;
    top: 64px;
  }
  
  
  /*--Promotion Section--*/
  
  .jumbotron {
    padding: 2rem 2rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
  }
  
  .banner {
    width: 80%;
    overflow: hidden;
  }
  
  img {
    width: 100%;
  }
  
  .jumbotron h1{
    color: blue;
  }
  
  .jumbotron p{
  font-size: 1.5rem;
  }
  
  hgroup {
    margin: 0 40px;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
  }
  
  .button {
    width: 50%;
    max-height: 40px;
    align-self: flex-start;
    border-radius: 5px;
    background-color: transparent;
    border: solid 1px blue;
    text-decoration: none;
    color: blue;
    font-size: 1rem;
    padding: 1rem;
    margin: 2rem 2rem 2rem 0rem;
    text-align: center;
    text-transform: uppercase;:
  }
  
  .button:hover {
    background-color: blue;
    color: white;
    transition: .25s ease 150ms;
  }
  
  
  /*--Promotion Breakpoints--*/
  
  @media only screen and (max-width:1080px) {
    .jumbotron {
      font-size: 1rem;
      padding: 2rem 2rem;
    }
    h1 {
      font-size: 2.25rem;
      margin: 2rem 0 1rem 0;
    }
  }
  
  @media only screen and (max-width:830px) {
    .jumbotron {
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem 2rem;
    }
    .jumbotron .banner {
      width: 100%;
      max-height: 20rem;
      overflow: hidden;
    }
    hgroup {
      flex-flow: row wrap;
      margin: 0;
      width: 100%;
    }
    .button {
      width: 100%;
      margin: 2rem 0rem 2rem 0rem;
    }
  }
  
  /*--Information Overview--*/
  
  #highlights {
    display: flex;
    flex-flow: row;
    padding: 2rem;
    background-color: #f4f4f4;
    color: #000000;
  }
  
  .focus {
    max-width: 60%;
    display: flex;
    flex-flow: column wrap;
    padding: 0 1.5rem 0 0;
  }
  
  #highlights img, #thesis img {
    width: 100%;
  }
  
  aside {
    max-width: 40%;
  }
  
  aside .image {
    width: 35%;
  }
  
  .title {
    padding-left: 1rem;
    max-width: 60%;
  }
  
  .title p {
    margin: 0.75rem auto;
  }
  
  .mobile {
    display: none;
  }
  
  .story {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: #ffffff;
    border-top: solid 1px #d8d8d8;
    border-left: solid 1px #d8d8d8;
    padding: 1rem;
  }
  
  aside .story:hover {
    opacity: .90;
  }
  
  .info a {
    color: #blue;
    padding-top: 3rem;
  }
  
  .info a:hover {
    text-decoration: line-through;
  }
  
  .reference {
    font-size: 0.75rem;
    margin-top: 2.5rem;
  }
  
  
  /*--Overview Breakpoints--*/
  
  @media only screen and (max-width:1080px) {
    #highlights {
      flex-flow: column;
      padding: 2rem 0;
    }
  
    .focus {
      max-width: 100%;
    }
  
    .story {
      border: solid 1px #d8d8d8;
    }
  
    #highlights aside {
      width: inherit;
      max-width: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 2rem 1.5rem 0;
    }
    #highlights .image {
      padding: 0;
      width: 100%;
    }
    #highlights .story {
      display: flex;
      flex-direction: column;
      max-width: 30%;
      align-items: flex-start;
    }
    #highlights .title {
      max-width: none;
      margin-top: 1rem;
    }
    .desktop {
      display: none;
    }
    .mobile {
      display: initial;
      width: 100%;
    }
  }
  
  @media only screen and (max-width:800px) {
    #highlights .focus {
      display: none;
    }
    #highlights aside {
      flex-flow: column;
      width: auto;
      margin-top: 0;
    }
    #highlights .story {
      max-width: 100%;
      margin: 0.5rem 0;
    }
  }
  
  
  /*--Programs--*/
  
  #courses {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    background-color: #ffffff;
  }
  
  #courses h2, #thesis h2{
    padding: 2rem 0 0 0;
    width: 100%;
    text-align: center;
  }
  
  .program {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 2rem;
    background-color: #f4f4f4;
  }
  
  .program a {
    color: black;
  }
  
  .program:hover {
    border-top: solid 5px blue;
    transition: border-top 0.15s ease-out 200ms;
  }
  
  .program img {
    width: 100%;
  }
  
  #courses h3 {
    margin: 1rem 0;
  }
  
  .details {
    padding: 1rem;
    flex: 1 1;
  }
  
  .details h4 {
    padding: 0.5rem 0;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  .details p {
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    padding: .5rem 0 1.5rem 0;
  }
  
  
  /*--Programs Breakpoints--*/
  
  @media only screen and (max-width: 800px) {
    .program {
      width: 40%;
    }
  }
  
  @media only screen and (max-width: 660px) {
    #courses h2 {
      margin: 0 auto 2rem;
    }
    #courses {
      padding-bottom: 1rem;
    }
    .program {
      width: 80%;
      margin: 0.5rem 0;
    }
    .program img, .program h4, .program p {
      display: none;
    }
    #courses h3 {
      margin: 0;
    }
  }
  
  
  /*--Thesis--*/
  
  #thesis {
    background-color: #f4f4f4;
    padding: 0 0 2rem 0;
  }
  
  #thesis>div {
    display: flex;
    padding: 1rem 1.5rem;
  }
  
  #thesis .focus {
    padding: 0;
  }
  
  #thesis aside {
    display: flex;
    flex-flow: column;
    margin-left: 1rem;
  }
  
  #thesis h3 {
    margin: 1.5rem 0;
  }
  
  .focus video {
    width: 100%;
  }
  
  
  /*--Thesis Breakpoints--*/
  
  @media only screen and (max-width:1080px) {
    #thesis>div {
      flex-flow: column;
    }
    #thesis .story {
      flex-flow: row;
      padding: 0;
      max-height: 10.5rem;
    }
    #thesis aside {
      display: flex;
      flex-flow: row;
      max-width: none;
      margin: 2rem 0 0 0;
    }
    #thesis .image {
      padding: 1rem;
      max-width: 25%;
    }
  }
  
  @media only screen and (max-width: 800px) {
    #thesis aside {
      display: none;
    }
  }
  
  @media only screen and (max-width: 660px) {
    #thesis aside, #thesis h3, #thesis p {
      display: none;
    }
  }
  
  
  /*--Footer--*/
  
  footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    border-top: 1px solid #d5d5d5;
    font-weight: 300;
  }
  
  #legal a {
    margin: 0 2rem;
  }
  
  #legal a:hover {
    text-decoration: line-through;
  }
  
  
  /*--Footer Breakpoint--*/
  
  @media only screen and (max-width: 600px) {
    footer {
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      height: 3rem;
      font-size: 0.85rem;
    }
  }